<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/Header.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="https://nuoixe.vn/storage/uploads/logo-cac-hang-xe-o-to/Logo-hang-xe-oto-vauxhall.png">
        <h1>Mioto</h1>
    </div>
    <div class="content-action">
        <nav>
            <ul>
                <li><a href="#">Về Mioto</a></li>
                <li><a href="#">Trở thành chủ xe</a></li>
                <!--            nếu là người dùng-->
                <!--            <li><a href="#">Chuyến xe của tôi</a></li>-->
                <!--            Nếu là chủ xe-->
                <!--            <li><a href="#">Xe của tôi</a></li>-->
            </ul>
        </nav>
        <div class="actions" id="actions">
            <a href="#" id="register">Đăng ký</a>
            <a href="#" id="login">Đăng nhập</a>
        </div>
        <div class="info-user" id="info-user" style="display: none">
            <img src="https://img.lovepik.com/png/20231031/User-avatar-placeholder-black-profile-picture-color-block-simple_430101_wh860.png">
            <a href="#">Tên người dùng</a>
            <div class="dropdown-icon">▼</div>
        </div>
    </div>
</header>
<script src="Home.js"></script>
</body>
</html>